body {
    margin: 0;    
}


#logo{
	background: #ffffff;
	height: 130px;
}

#menu{
    background:#07527E;
    height: 80px;
}

/*slider-index*/
#slider {
	background-image: url(../images/jpg/fresadora.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 910px;
}

#slider #vacio1 {
	background-color: rgba(255,255,255,0.00);
	height: 100px;
}

#slider .container .row .col-md-4 {
	font-size: 40px;
	color: rgba(255,255,255,1.00);
	text-align: left;
	background-color: #D9AB22;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
/*slider-index*/


/*nosotros*/
#cont_con {
	min-height: 700px;
	background-color: #FFFFFF;
	padding-left: 0px;
	padding-right: 0px;
}

#cont_con .container {
	background-color: #EFEFEF;
	min-height: 500px;
	background-image: url(../images/jpg/nosotros.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	background-attachment: fixed;
}

#cont_con .container .row {
	background-color: rgba(255,255,255,0.8);
	min-height: 500px;
	
}

.container .row .col-md-12 {	
	text-align: left;
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 15px;
	/*border-bottom: 1px solid #D9AB22;*/
	
}

#cont_con .container .row .col-md-8 {
	text-align: justify;
	font-size: 15px;
	padding-left: 19px;
	padding-top: 17px;
}

#cont_con .container .row .col-md-4 {
	padding-right: 15px;
	padding-top: 22px;
}

.espacio_cont {
	height: 130px;
}
/*nosotros*/

/*servicios*/
#cont_serv .container {
	text-align: center;
	min-height: 400px;
	padding: 0px;
	
}

#cont_serv .container .row .col-md-4 {
	padding-bottom: 15px;
	border-width: 1px;
}

.serv_descr {	
	border: 1px solid rgba(16,105,163,0.30);
	transition: 0.8s;
}

.serv_descr:hover {	
	background:rgba(0,0,0,0.80);
	color:#FFDA0A;
}

.serv_descr img {	
	transition: 0.8s;
}

.serv_descr:hover img {
	opacity: 0.7;	
}
	/*descripcion del articulo*/
	.serv_descr span {
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		color:#FFFFFF;
		display:none;
		font-size: 20px;	
	}

	.serv_descr:hover span {
		display: block;	
	}
	/*descripcion del articulo*/

.col-md-4 .serv_descr .img-responsive {
	margin: 0 auto;
}

.col-md-4 .serv_descr p {
	padding-top: 22px;
	padding-bottom: 15px;
}
/*servicios*/

/*contactanos*/
#cont_contac {
	background:#FFFFFF;
}

#cont_contac .container {
	text-align: left;
	min-height: 400px;
	background-color: #1069A3;
	border-radius: 4px;
	color: #FFFFFF;
}

.col-md-6 .row .col-md-10 {
	/*background-color: #FFDA0A;*/
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;	
}

.container .row .col-md-6.map {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
}

/*contactanos*/


/*pie de pagina*/
body hr {
	height: 1px;
	background-color: #127ABD;
	margin: 0 auto;
	padding: 0px;
	border: none;	
}

#pie {
	min-height: 80px;
	padding-top: 25px;
	text-align: center;
}
/*pie de pagina*/


@-webkit-keyframes slidein {
        0%{
           margin-left: 200%;
        }
       
        100%{
           margin-left: 0%;
        }
    }

/*titulo: conconenos, servicios y subrayado*/
.title {
	text-align: left;
	font-size: 26px;
	color: #1069A3;
	animation: slidein 2s;
	padding-left: 0px;
}
.container.tit {
	background-color: #FFDA0A;
	width: 60%;
	margin-bottom: 15px;
}
/*titulo: conconenos, servicios y subrayado*/
